<html  xmlns:th="http://www.thymeleaf.org" lang="zh">
<div th:fragment="script">
    <script src="/static/admin/plugins/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/admin/plugins/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/admin/plugins/md5/md5.min.js"></script>
    <script src="/static/admin/plugins/dashborad/detect.js"></script>
    <script src="/static/admin/plugins/dashborad/fastclick.js"></script>
    <script src="/static/admin/plugins/dashborad/wow.min.js"></script>
    <script src="/static/admin/plugins/dashborad/jquery.slimscroll.js"></script>
    <script src="/static/admin/plugins/limonte-sweetalert2/6.4.1/sweetalert2.min.js"></script>
    <script src="/static/admin/plugins/axios/axios.min.js"></script>
    <script src="/static/admin/plugins/vue/vue.min.js"></script>
    <script src="/static/admin/plugins/moment/moment.min.js"></script>
    <script src="/static/admin/plugins/vue-loading/vue-loading.min.js"></script>
    <script src="/static/admin/plugins/dashborad/jquery.app.js"></script>
    <script src="/static/admin/js/base.js"></script>
    <script src="/static/admin/plugins/tagsinput/jquery.tagsinput.min.js"></script>
    <script src="/static/admin/plugins/datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/admin/plugins/datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="/static/admin/plugins/jquery-multi-select/jquery.quicksearch.js"></script>
    <script src="/static/admin/plugins/mditor/js/mditor.min.js"></script>
    <script src="/static/admin/plugins/wysihtml5/0.3.0/wysihtml5.min.js"></script>
    <script src="/static/admin/plugins/summernote/0.8.2/summernote.min.js"></script>
    <script src="/static/admin/plugins/summernote/0.8.2/lang/summernote-zh-CN.min.js"></script>
    <script src="/static/admin/plugins/vue-select/vue-select.js"></script>
    <script src="/static/admin/plugins/jquery-toggles/2.0.4/toggles.min.js"></script>
    <script src="/static/admin/plugins/dropzone/4.3.0/min/dropzone.min.js"></script>
    <script src="/static/admin/plugins/to-markdown/3.1.0/to-markdown.min.js"></script>
</div>